@import '../../styles/fonts.scss';

.top-bar {
  display: flex;
  flex-direction: row;
  height: 64px;
  gap: 24px;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 100%;

    &-logo {
      height: 28px;
      width: 80px;
      background-image: url(../../images/topbar-logo.png);
      background-size: cover;
    }
  }

  &__items {
    @include font_uppercase;
    color: $color-secondary;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 64px;
  }

  &__right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: right;
  }

  &__favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 64px;
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 64px;
  }

  &__icon1 {
    background-image: url('../../images/top-bar__favourites.png');
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  &__icon2 {
    background-image: url('../../images/top-bar__favourites.png');
    background-size: cover;
    width: 16px;
    height: 16px;
  }
}
