.home__slider {
  grid-column: 1 / -1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.home__slider-item {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
