$large-desktop: 1440px;
$desktop: 1200px;
$tablet: 640px;

$color-background: rgba(15, 17, 33, 1);
$color-text: rgba(241, 242, 249, 1);
$color-secondary: rgba(117, 118, 127, 1);
$color-border: rgba(241, 242, 249, 1);
$color-black: #0F1121;
$color-black-gray: rgba(15, 17, 33, 1);

$surface-second: rgba(50, 53, 66, 1);
