.header {
  min-width: 320px;
  display: flex;
  height: 48px;
  position: sticky;
  top: 0;

  background-color: $color-black-gray;

  @media (min-width: $desktop) {
    height: 64px;
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  // !!!next styles can cause some problems!!!
  &__logo {
    height: 22px;
    width: 64px;
    margin-right: 16px;
    margin-left: 24px;

    @media (min-width: $desktop) {
      width: 80px;
      height: 28px;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    margin-left: auto;

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {
      min-width: 64px;
    }
  }

  &__icon {
    width: 16px;
  }
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  display: none;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    position: absolute;
    left: 128px;
    bottom: unset;
    display: flex;
    height: 100%;
    background: unset;
    min-height: unset;
    max-height: unset;
    overflow: unset;
    opacity: unset;
  }

  @media (min-width: $desktop) {
    left: 152px;
  }

  &__list {
    display: flex;
    gap: 32px;
    padding-left: 0;

    @media (min-width: $desktop) {
      gap: 64px;
    }
  }

  &__item {
    @include font-uppercase;
    height: 48px;
    line-height: 48px;

    @media (min-width: $desktop) {
      height: 64px;
      line-height: 64px;
    }
  }

  &__cart-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  }

  &__right {
    display: none;
    height: 100%;

    @media (min-width: $tablet) {
      display: flex;
    }

    &-container {
      display: flex;
      justify-content: center;
      width: 48px;

      @media (min-width: $desktop) {
        width: 64px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-item1 {
      background-image: url('../../../public/images/top-bar_favourites.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }

    &-item2 {
      background-image: url('../../../public/images/top-bar_cart.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }
  }
}

.active-link {
  text-decoration: underline;
  text-decoration-color: rgba(241, 242, 249, 1);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  text-underline-offset: 18px;
  overflow: hidden;

  @media (min-width: $desktop) {
    text-underline-offset: 26px;
  }
}
